@font-face {
  font-family:"Dancing";
  src: url(../fonts/DancingScript-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Redressed";
  src: url(../fonts/Redressed-Regular.ttf);
}
@font-face {
  font-family: "Minecraft";
  src: url(../fonts/Minecraft.ttf);
}

.loader {
  border: 10px solid grey; /* Light grey */
  border-top: 10px solid #00ff00; /* Green */
  border-bottom: 10px solid blue;
  border-radius: 60%;
  width: 90px;
  height: 90px;
  animation: spin 0.8s linear infinite;
        position: relative;
        top: 30vh;
  }
  body {
          background-color: antiquewhite;
      }
  @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
  }
p {
  margin-top: 55vh;
  font-family: Minecraft;
}