@font-face {
  font-family:"Dancing";
  src: url(../fonts/DancingScript-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Redressed";
  src: url(../fonts/Redressed-Regular.ttf);
}
@font-face {
  font-family: "Minecraft";
  src: url(../fonts/Minecraft.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* Variables */
:root {
  --font-size:1rem;
}
.light-mode {
  --navbar-color: white;
  --navbar-bg-color: #00AA00;
}
.dark-mode {
  --navbar-color: white;
  --navbar-bg-color: #00AA00;
}

/* Reset */
* {
  box-sizing:border-box; 
  outline:none;
  margin:0;
  padding:0;
  cursor: default;
}
a, a img, div img {
  cursor: pointer;
}
ul {
  list-style:none;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body {
  width: 100%;
  margin: 0;
  font-family: Raleway, Helvetica, sans-serif;
  background: antiquewhite;
  overflow-x: hidden;
}
#container{
  width:400px;
  margin:0 auto;
  margin-top:10%;
}
#container.contact{
    width:400px;
    margin:0 auto;
    margin-top:10%;
    position: relative;
    top: 110vh;
}
.inscription {
  color: green;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}
.loader-wrapper {
  z-index: 20001;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 150, 0);
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: wait;
}
.welcome{
  font-size: 4rem;
  font-family: "Redressed";
  position: absolute;
  top: 40vh;
}
.loader {
  z-index: 20000;
  border: 10px solid rgb(255, 0, 234); /* Light grey */
  border-top: 10px solid #00ff00; /* Green */
  border-bottom: 10px solid blue;
  border-radius: 60%;
  width: 90px;
  height: 90px;
  animation: loader 0.4s linear infinite;
        position: absolute;
        top: 60vh;
}

@keyframes loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
  }
.btn {
  height: 70px;
  width: 70px;
  background: green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  z-index: 9999;
}
.arrow{
  z-index: 10000;
  width: 70%;
  height: 70%;
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1.title{
  font-family: Redressed;
}
#container h1{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 3rem;}
.description{
  font-family: Minecraft;
  display: flex;
  word-wrap: break-word;
  width:90%;
  position: absolute;
  top: 170vh;
  left: 10%;
}
#titre{
  font-family: Dancing;
  font-weight: bold;
  color: green;
  position: relative;
  top: 40vh;
  font-size:12rem;
}
.description1{
margin-left: 3%;
text-align: center;
width: 20%;
}
.description2{
margin-left: 12%;
text-align: center;
width:20%;
}
.description3{
  text-align: center;
  margin-left: 12%;
  width: 20%;
}
#link:hover {
  color: red !important;
}
/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid green;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: green;
    border: 1px solid green;
}

.modal-btn {
  padding: 1% 10px;
  font-size: 18px;
  display: block;
  min-width: 150px;
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 9px;
  box-shadow: green 5px 5px 5px;
}
.modal-btn:hover {
  padding: 1% 10px;
  font-size: 18px;
  display: block;
  min-width: 150px;
  cursor: pointer;
  background-color: grey;
  border: gray;
  border-radius: 9px;
  box-shadow: green 5px 5px 5px;
}
form h1{
  margin: auto;
}
.modal-container {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
  z-index: 15000;
}
.modal-container.active {
  /* display: block; */
  visibility: visible;
}
footer.tomate{
  position: absolute;
  top: 200vh;
  width:99vw;
  height:60%;
  background-color: green;
}
h2{
  font-family: Redressed;
}
.overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: green;
  transition: opacity 0.4s 0.2s ease-out;
}
.modal-container.active .overlay {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.modal {
  opacity: 0;
  width: 95%;
  max-width: 500px;
  min-width: 300px;
  padding: 30px;
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  transition: opacity 0.4s ease-out,
  transform 0.4s ease-out;
}   

.modal-container.active .modal {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out,
  transform 0.4s 0.2s ease-out;
}

.close-modal {
  padding: 8px 10px;
  border-radius: 5px;
  border-color: rgb(255, 255, 0);
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: rgb(56, 255, 56);
  color: rgb(11, 56, 5);
}
.modal p {
  line-height: 1.4;
  margin-bottom: 5px;
}
section {
  height: 100vh;
  font-size:var(--font-size);
  font-family: 'Poppins', sans-serif;
  background: url('../images/Background.jpg') no-repeat;
  background-size: cover calc(1em - 5/100);
  background-position: center 0vh;
  margin: auto;
}
.main-content {
  padding:1rem;
}
.mitem {
  color: rgb(2, 2,  184);
  text-decoration: none;
}
img.enderman{
  margin-top: 1%;
  height: 90%;
  box-shadow: rgba(0, 54, 0, 0.205) 5px 15px 15px;
  margin-left: 20%;
}
h3{
  word-wrap: break-word;
  font-family: Minecraft;
  position: absolute;
  left: 50%;
  bottom: 15%;
  font-size: 3rem;

}
.mitem:hover {
  font-weight: bold;
  text-decoration: underline;
}
h1#logo{
  z-index: 10;
  color: #00AA00;
  font-family: "Redressed";
  font-size: 5vw;
  position: absolute;
  left: calc((15vw + 10vh)/2);
  top: calc(20vh + 5vw / 2);
}
.introduction{
  background-color: rgba(14, 100, 14, 0.952);
  animation: myAnim 2s ease 3s 1 normal both;
  border-radius: 10px 10px;
  border: 1px solid black;
  font-family: 'Dancing';
  word-wrap: break-word;
  color:rgb(0, 0, 255);
  position: relative;
  font-weight: bold;
  font-size: 2vw;
  padding: 2vw;
  float: right; 
  width: 37vw;
  opacity: 0;
  margin-top:0;
}
.mobile-nav-bar {
  border: none;
  position: absolute;
}
.icones {
  display: flex;
  position: absolute;
  top: 120vh;  
  width: 100%;
  margin-left: auto;
}

.Iconeun {
  margin-left: auto;
  margin-top: 5%;
}
.Iconedeux {
  margin-left: auto;
}
.Iconetrois {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
/* Navbar */
.navbar {  
  z-index: 9990;
  display:flex;
  align-items:center; 
  justify-content:space-between;   
  padding:7px;
  font-size:1.5rem;
  background:var(--navbar-bg-color);
  color:var(--navbar-color);
  font-family: Dancing;
  box-shadow: blue 0px 1px 10px;
}
.navbar__logo {
  width: 5%;
}
.navbar__links { 
  display:flex;  
}
.navbar__link { 
  padding:0 10px;
}
.navbar__link > a { 
  color:var(--navbar-color);
  text-decoration:none;
}
.burger {
  display:none;
}
h1 img {
  border: 5px 5px 50px;
}

/*  Small device */
@media screen and (max-width:767.98px) {
  body {
    background-color: antiquewhite;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
  }
  section {

    height: 100vh;
    font-size:var(--font-size);
    font-family: 'Poppins', sans-serif;
    background: url('../images/Background.jpg') no-repeat;
    background-size: cover;
    background-position: center calc(1em - 5%);
    margin: auto;
  }
  .navbar {  
    z-index: 9990;
    display:flex;
    align-items:center; 
    justify-content:space-between;   
    padding:4px;
    font-size:1.5rem;
    background:var(--navbar-bg-color);
    color:var(--navbar-color);
    font-family: Dancing;
    min-height: auto;
    box-shadow: blue 0px 1px 10px;
  }
  .mitem {
      color: rgb(2, 2, 184);
      text-decoration: none;
  }
  .mitem:hover {
    font-weight: bold;
    text-decoration: underline;
  }
  h1#logo{
    z-index: 10;
    color: #00AA00;
    font-family: "Redressed";
    font-size: 5vw;
    position: absolute;
    left: calc((15vw + 10vh)/2);
    top: calc(20vh + 5vw / 2);
  }
  .introduction{
    background-color: rgba(14, 100, 14, 0.952);
    animation: myAnim 2s ease 3s 1 normal both;
    position: absolute;
    border-radius: 10px 10px;
    font-family: 'Dancing';
    word-wrap: break-word;
    color:rgb(0, 0, 255);
    font-weight: bold;
    font-size: 2vw;
    padding: 2vw;
    display: flex;
    width: 37vw;
    opacity: 0;
    border: 1px solid black;
    margin: auto 50%;
    top: calc((5vh+5vw)/2);

  }
  .icones {
    display: flex;
    position: absolute;
    top: 120vh;
    margin-left: auto;
  }
  .Iconeun {
    margin-left: auto;
    margin-top: 5%;
  }
  .Iconedeux {
    margin-left: auto;
  }
  .Iconetrois {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }  
  .navbar__links {
    z-index: 9999;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    width:0;
    height:calc(100vh - 65px);  
    position:absolute;
    top:65px;
    right:0;     
    background:var(--navbar-bg-color);     
    transform: translateX(110%);
    transition: all .5s ease-in-out;
  }
  .show-nav .navbar__links { 
    
    width:100vw;    
    transform: translateX(0);
  } 
  .navbar__link {    
    transform: translateX(101%);
    transition: all .5s ease-in-out;
  }
  
  .show-nav .navbar__link  {        
    transform: translateX(0);    
  }   
  .navbar__link > a {
    display:block;
    padding:1rem;
    font-size:1.6rem;
    color:var(--navbar-color);  
    transition: all .4s ease-in-out;
  }
  .navbar__link > a:hover {
    padding-left:2rem;
    letter-spacing:5px;
  }
  
  /* Toggle menu */
  .burger {
    z-index: 9999;
    display:block;
    position:relative;
    padding:0;
    width:45px;
    height:45px;
    border:none;
    background:transparent;
    cursor:pointer;
  }
  .bar {
    display:block;    
    width:45px;
    height: calc((0.2vh + 0.2vw)/2);  
    border-radius:3px;
    background:var(--navbar-color); 
    transition: all .5s ease-in-out;   
  }
  .bar::before, .bar::after {
    content:"";
    width:45px;
    position:absolute; 
    left:0;  
    background:var(--navbar-color); 
    border-radius:3px;    
    transition: all .5s ease-in-out;
    height: calc((0.2vh + 0.2vw)/2);
  }
  .bar::before {
    transform:translateY(-12px)
  }
  .bar::after {
    transform:translateY(12px)
  }
  .show-nav .bar {
    width:0;
    background:transparent;    
  }
  .show-nav .bar::before {
    transform:rotate(45deg);
  }
  .show-nav .bar::after {
    transform:rotate(-45deg);
  }
  
  /* Bonus - Animations */
  .show-nav .first {      
    transition: all 1s ease-out;
  } 
  .show-nav .second {      
    transition: all 1.1s ease-out;
  } 
  .show-nav .third {      
    transition: all 1.2s ease-out;
  } 
  .show-nav .four {      
    transition: all 1.3s ease-out;
  } 
  .show-nav .fifth {      
    transition: all 1.4s ease-out;
  }
}

/*  Medium device - Bonus */
@media screen and (min-width:768px) {
  .navbar {  
    z-index: 9990;
    display:flex;
    align-items:center; 
    justify-content:space-between;   
    padding:4px;
    font-size:1.5rem;
    background:var(--navbar-bg-color);
    color:var(--navbar-color);
    font-family: Dancing;
    min-height: auto;
    box-shadow: blue 0px 1px 10px;
  }
  .mitem {
      color: rgb(2, 2, 184);
      text-decoration: none;
    }
    .mitem:hover {
      font-weight: bold;
      text-decoration: underline;
    }
    h1#logo{
      z-index: 10;
      color: #00AA00;
      font-family: "Redressed";
      font-size: 5vw;
      position: absolute;
      left: calc((15vw + 10vh)/2);
      top: calc(20vh + 5vw / 2);
    }
    .introduction{
      background-color: rgba(14, 100, 14, 0.952);
      animation: myAnim 2s ease 3s 1 normal both;
      border-radius: 10px 10px;
      font-family: 'Dancing';
      word-wrap: break-word;
      color:rgb(0, 0, 255);
      font-weight: bold;
      font-size: 2vw;
      padding: 2vw;
      display: flex;
      width: 37vw;
      opacity: 0;
      border: 1px solid black;
      margin: center center;
      top: 50%;
    }
    .icones {
      display: flex;
      position: absolute;
      top: 120vh;
      margin-left: auto; 
    }
    .Iconeun {
      margin-left: auto;
      margin-top: 5%;
    }
    .Iconedeux {
      margin-left: auto;
    }
    .Iconetrois {
      margin-left: auto;
      margin-right: auto;
      margin-top: 5%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
    }
  .navbar__link > a::after {
    display:block;
    content:"";
    width:0;
    height:1px;
    background:var(--navbar-color);
    transition:width .4s;
  }
  .navbar__link:hover > a::after {
    width:100%;
  }
}
